extends layout-header-only

block body
    body.body-signin
        h1.text-center NOIDCP
        h2.text-center Node OpenID Connect Provider
        p.text-center
            | In this step the Authorization Server obtains End-User Consent/Authorization.
        form(method='post', action='/authorization/decision/').form-decision
            h3.form-decision-heading End-User Consent/Authorization
            p.subheading Client with client id
                b  #{data.clientId}
                |  requires access to scope(s): #{data.scope}
            if message
                .alert.alert-warning
                    | #{message}
            include ./params
            .checkbox
                label
                    input(type="checkbox", name="granted", value="true", id="granted-cb")
            hr
            button(type="submit").btn.btn-primary
                | Grant