extends layout

block content
	.rows
		.col-md-2
		.col-md-8
			.well
				form(method='post', action='/authorization/decision/')
					include ./params
					.form-group
						h1 Hello!
						p.subheading Please confirm:
						.checkbox
							label
							input(type='checkbox', name='granted', value='true')
							|  Grant

						hr
						button(type="submit").btn.btn-primary
							| Grant
						div.clear-fix
						hr
		.col-md-2