extends layout

block content
	.rows
		.col-md-2
		.col-md-8
			.well
				form(method='post', action='/authorization/login')
					include ./params
					.form-group
						h1 Authentication
						p.subheading Please Login To Your Account
						label Username
						input(type="text", name="sub", id='user-tf').form-control
						label Password
						input(type="password", name="password", id='pass-tf').form-control
						hr
						button(type="submit").btn.btn-primary
							| Login
						div.clear-fix
						hr
		.col-md-2