extends layout-header-only

block body
    body.body-signin
        .header-signin
            h1 Node OpenID Connect Provider
            h2.form-signin-heading Please Sign In
            label(for="sub-tf").sr-only Username
            input(type="text", name="sub", id="sub-tf", placeholder="username").form-control
            label(for="pass-tf").sr-only Password
            input(type="password", name="password", id="pass-tf", placeholder="password").form-control
            hr
            button(type="submit").btn.btn-primary
                | Login